body {
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color:burlywood;
    font-size: 25px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: darkslategray;
    text-align: justify;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
}

.topnav a, .topnav span{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    line-height: 25px;
}

.topnav span {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav a.active {
    background-color: lightskyblue;
    border-radius: 20px;
}

.nav-right {
    float: right;
}



h1 {
    margin: 50px 20px 20px 20px;
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
}

.image {
    display: block;
    margin: auto;
    width: 50%
}

.container {
    margin: 30px;
    padding: 30px;
    font-size: 20px;
    text-align: justify;
    background-color:lightskyblue;
    border-radius: 30px;
}

.description {
    text-align: center;

}

ul, ol, li {
    padding: 7px;
    margin-left: 50px;
    margin-right: 50px;
}